@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

main{
    display: flex;
    flex-direction: column;
}


@media screen and (min-width: 899px){
    /*ScrollBar*/
    body::-webkit-scrollbar {
        display: none;
    }

    body{
        margin: 0px;
        background-color: whitesmoke;
    }


    #fillButtonEffect1::before{
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 0px;
      height: 15vh;
      background: #05056725;
      transition: all 1s ease;
    }#fillButtonEffect1:hover::before{
      width: 100%;
    }#fillButtonEffect1:hover{
      cursor: pointer;
    }

    #fillButtonEffect2::before{
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 0px;
      height: 6vh;
      background: #ffffff25;
      transition: all 1s ease;
    }#fillButtonEffect2:hover::before{
      width: 100%;
    }#fillButtonEffect2:hover{
      cursor: pointer;
    }



    #bigButtonEffect::before{
      transition: all 0.5s ease;
      width: 20vw;
      height: 4vh;
    }#bigButtonEffect:hover{
      width: 25vw;
      height: 8vh;
      cursor: pointer;
    }



    /*HEADER*/
    #mobile_menu{
        display: none;
    }
    
    .header{
        background-image:  url("../../Images/pages/index/fundo.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
        height: 100vh;
        position: relative;
    }

    .logo{
	      bottom: -1vw;
        margin-left: 9.8%;
        display: flex;
        position: relative;
        flex-direction: row;        
    }

    .logo > a{
        text-decoration: none;
    }

    .logo > a > img, h2{
        margin-top: 1%;
        display: inline;
        
    }

    img.img_logo{
        position: relative;
        bottom: -16%;
        width: 19%;
    }

    /*
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 56px;
    right: 9vw;
    width: 45%;
    */

    .logo > a > h2{
        color: whitesmoke;
        font-family: 'Fjalla One';
        font-weight: 400;
        font-size: 30pt;
    }

    .slogan_header{
        margin-left: 10%;
        display: flex;
        position: relative;
        transition: 0.5s;
        flex-direction: column;
        align-items: center;
    }

    .slogan_header > h1, .btn{
        text-align: center;
        font-weight: 700;
        font-family: 'Fjalla One';
        font-size: 5vw;
        color: #050567;
        position: relative;
        transition: 0.5s;
        top: 8vw;
        border: 0px;
    }

    h1.slogan{
        color: whitesmoke;
    }

    .btn{
        background-color: whitesmoke;
        width: 5.1em;
        height: 1.5em;
        transition: 0.5s;
        margin-left: -1%;
    }

    .woman{
        width: 100vh;
        display: flex;
        position: absolute;
        align-items: flex-end;
        right: 0px;
        bottom: 0px;
    }
    #woman {  /*imagem com a mulher no header*/
        width: 100%;
        display: inline-block;

    }

    .img_e_txt{
        display: flex;
        flex-direction: row;

    }

    /*MAIN*/
    .img{
        display: inline;
    }

    div#xp{
        margin-top: 7vw;
    }

    #img_xp{
        margin-top: 6vw;
        margin-left: 17vw;
        width: 28vw;
    }

    .txt_xp{
        display: inline-block;
        position: relative;
        top: -5.5vw;
        margin-left: 9vw;
    }

    .txt_xp > h3{
        color: black;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 4vw;
        text-align: center;
    }

    .txt_xp > p{
        color: black;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 1.5vw;
        text-align: center;
        margin-top: -3vw;
        margin-bottom: 6vw;
    }

    .exemplos{
        margin-left: 2vw;
        border: 0px;
        color: white;
        font-size: 2vw;
        text-shadow: 0.07em 0.05em #333;
        background-color: #050567;
        width: 9.1em;
        height: 1.5em;
        transition: 0.5s;
    }



    div#money{
        margin-top: 25vw;
        display: flex;
        margin-bottom: 10vw;
    }

    .txt_e_btn{
        display: flex;
        flex-direction: column;
    }

    img#money{
        width: 33vw;
        position: relative;
        transition: 0.5s;
    }

    div.img_e_btn{
        display: flex;
        flex-direction: column;
    }
    .txt_money{    
        margin-top: -1vw;
        display: inline-block;
        margin-left: 14vw;
        width: 35vw;
        position: relative;
        transition: 0.5s;
    }

    .txt_money > h3{
        color: black;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 4vw;
        text-align: center;
        margin-top: 0vw;
    }

    .txt_money > p {
        color: black;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 1.5vw;
        text-align: center;
        margin-top: -3vw;
        margin-bottom: 1vw;
    }

    .valores{    
      margin-left: 22.65vw;
      border: 0px;
      color: white;
      font-size: 2vw;
      text-shadow: 0.07em 0.05em #333;
      background-color: #050567;
      width: 9.1em;
      height: 1.5em;
      transition: 0.5s;
      position: relative;
    }



    /*FOOTER*/
    footer{
        background-color: #7297A6;
        margin-top: 3vw;
        height: 3vw;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    
    footer > h5{
        margin: 0;
        color: white;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 1vw;
        text-align: end;
        margin-right: 1vw;
        margin-block-end: 0px;
        text-align: end;
    }
}

















/*MOBILE SCREEN*/
@media screen and (max-width: 899px){


    /*Preloading*/
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #034AA6;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .loader {
        width: 80px;
        height: 80px;
    }

    .loader::after {
        content: "";
        display: block;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        border: 6px solid #fff;
        border-color: #fff transparent #fff transparent;
        margin: 8px;
        animation: spin 1.2s ease infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    body{
        margin: 0px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        
    }
    
    
    /*HEADER*/
    footer{
        background-color: #034AA6;
    }
    #mobile_menu{
        display: inline-block;
        top: 4vw;
        right: 82vw;
        transition: 0.75s;
        position: fixed;
        height: 100vh;
        
    }

    #btn_menu{
        display: inline-block;
        width: 23vw;
        height: 15vw;
        border: none;
        background-color: white;
        border-radius: 0px 4vw 4vw 0vw;
        position: relative;
    }
    #img_menu{
        width: 75%;
    }

    #btn_fecha{    
        display: none;
        width: 55%;
        height: 21vw;
        border: none;
        background: none;
        position: relative;
        right: -9vw;
    }
    #img_fecha{
        width: 10vw;
    }


    nav#nav{
        display: flex;
        flex-direction: row-reverse;
        transition: 0.5s;
        height: 100vh;
        width: 82vw;
        box-shadow: none;
    }
    ul{
        padding: 0px;
        display: flex;
        flex-direction: column;
        gap: 15vw;
        margin-left: 5%;
    }
    li{
        list-style: none;
        font-size: 5vh;
    }
    nav > ul > li > a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-family: 'Poppins';
    }
    #nao_menu{
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    .header{
        background-image: url("../../Images/pages/index/fundo.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
        width: 100%;
        height: 100vh;
        position: relative;
    }

    .logo{    
        display: flex;
        justify-content: center;
        margin-left: 16%;
        margin-bottom: -50vw;
        position: relative;
        bottom: -2vw;
    }

    .logo > a{
        text-decoration: none;
    }

    .logo > a > img, h2{
        margin-top: 1%;
        display: inline;
        
    }

    img.img_logo{
        position: relative;
        bottom: -16%;
        width: 19%;
    }

    .logo > a > h2{
        color: white;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 30pt;
    }

    .slogan_header, #woman{
        margin-top: -6vw;
    }


    .slogan_header{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 35vh;
    }

    .slogan_header > a{
        display: block;
    }

    .slogan_header > h1{
        font-size: 13vw;
        font-weight: 700;
        font-family: 'Poppins';
        color: white;
        text-shadow: 0.07em 0.05em #333;
        position: relative;
    }

    .slogan_header > a > #btn{
        font-weight: 700;
        font-family: 'Poppins';
        color: white;
        text-shadow: 0.07em 0.05em #333;
        background-color: #F7D414;
        width: 7.1em;
        height: 2em;
        font-size: 12vw;
        border-radius: 16vw;
    }

    #woman {  /*imagem com a mulher no header*/
        width: 85%;
        display: inline-block;
        left: 15vw;
        margin-top: 24vw;
        position: absolute;
        bottom: 0px;
    }


    /*MAIN*/
    .img{
        display: inline-block;
    }

    div#xp{
        margin-top: 7vw;
    }

    #img_xp{
        margin-top: 6vw;
        margin-left: 12vw;
        width: 80%;
    }

    .txt_xp{
        display: flex;
        position: relative;
        top: -0.5vw;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .txt_xp > h3{
        color: black;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 11vw;
        text-align: center;
    }

    .txt_xp > p{
        color: black;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 6vw;
        text-align: center;
        margin-top: -3vw;
        margin-bottom: 6vw;
    }

    #exemplos{
        margin-left: 3vw;
        color: white;
        font-size: 6vw;
        text-shadow: 0.07em 0.05em #333;
        background-color: #034AA6;
        width: 11em;
        height: 3em;
        border-radius: 16vw;
    }



    div#money{
        margin-top: 45vw;
        display: flex;
        margin-bottom: 10vw;
        flex-direction: column-reverse;
    }

    .txt_e_btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        align-content: center;
        margin-top: 10vw;
    }

    img#money{
        width: 60vw;
        position: relative;
        transition: 0.5s;
    }

    #money > .img{
        display: flex;
        align-self: center;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .txt_money{    
        margin-top: -1vw;
        display: inline-block;
        width: 80vw;
        position: relative;
        transition: 0.5s;
    }

    .txt_money > h3{
        color: black;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 10vw;
        text-align: center;
        margin-top: 0vw;
    }

    .txt_money > p {
        color: black;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 6vw;
        text-align: center;
        margin-top: -8vw;
    }

    #valores{    
        margin-top: 2vw;
        margin-left: 0vw;
        color: white;
        font-size: 7vw;
        border-radius: 16vw;
        text-shadow: 0.07em 0.05em #333;
        background-color: #034AA6;
        width: 9.1em;
        height: 3em;
        transition: 0.5s;
        position: relative;
    }



    /*FOOTER*/
    footer{
        background-color: #7297A6;
        margin-right: 0vw;
        width: 100%;
    }

    footer > h5{
        margin: 0;
        color: white;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 5vw;
        text-align: end;
        margin-right: 1vw;
    }
}
